
.chart {
  height: 50px;
  display: flex;
 
}

.plot {
  display: grid;
  align-items: end;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(55, minmax(0, 1fr));
  margin-top: 10px;
}

.x-axis {
  grid-row-start: 2;
  font-size: 0.75rem;
  display: content;
  padding-top: 1px;
  margin-left: 1rem;
}

.x-label {
  display: inline-flex;
  // writing-mode: sideways-lr;
  white-space: nowrap;
  transform-origin: top center;
  // transform: rotate(45deg);
/*   height: 120px; */
/*   justify-content: center; */
  padding-left: 5px;
}

.box-site {            
  background-color: #F5A26C;
  text-align: center;
  //   border-radius: 1rem 1rem 0 0;
  &.inactive {
    background-color: grey;
  }
}

.box-image {            
  background-color: #6EB3A6;
  text-align: center;
  //   border-radius: 1rem 1rem 0 0;
  &.inactive {
    background-color: grey;
  }
}
.box-image:hover {            
  background-color: #F5A26C;
  cursor: pointer;
}
