
.nav-container {
    color: #6EB3A6;
    width: 95%;

    .biologo {
        margin-left: 2rem;
        line-height: 2em;

        .bio-icon {
            margin-bottom: 3%;
            height: 35px;
            margin-top: 0%;
        }
    }

    @media (max-width: 998px) {
        .biologo {
          display: none;
        }
    }

}