@import '~tern-react/dist/scss/colors.scss';

.filter-bar {
  height: auto;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-right: 1px solid lightgrey;
  // width: auto;
  // border-right: 60px solid #B3D4C9;
  z-index: 9;
  // background-image: linear-gradient(to bottom right, #fff, #B3D4C9);
  // box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.05), 0 0px 20px 3px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  // border-right: 1.5px solid lightgrey;

  .bio-facets {
    margin: 20px 10px;
    color: $green-dark;
  }

}

@media (max-width: 998px) {
  .filter-bar {
    border-right: 0px solid #B3D4C9;
    height: auto;
  }
}

.main-content {
  border-bottom: 1px solid #6EB3A6;
  border-top: 1px solid #6EB3A6;
  max-width: 100%;
}

.scroll-images {
  // overflow-y: auto;
  // overflow-x: hidden;
  // height: 83vh;
  margin: 0%;
  // width: 85vw;
  padding: 0%;
  // background: rgb(231,230,235);
  // background: radial-gradient(circle, rgba(231,230,235,1) 0%, rgba(228,228,232,1) 68%, rgba(217,221,222,1) 100%);
}


