
.modal-header {
    padding-bottom: 10%;
  }

  .modal-column {
    position: absolute;
    left: 0%;
  }

  .modal-info {
    position: absolute;
    right: 4%;
    text-align: right;
    color: #043e4f;
    text-transform: capitalize;
  }

  .modal-line {
    border: 1px solid #66b3a6;
    margin-top: 0;
    margin-bottom: 0.5;
  }

  .modal-select {
    padding-top: 5px;
    color: #065f65;
    text-align: center;

  }

  #chevron-right {
    position: absolute;
    right: 15px;
    top: 350px;
    &:focus {
      outline: none;
  }
}

  #chevron-left {
    position: absolute;
    left: 15px;
    top: 350px;
  }
