
.image-preview-modal {

  .modal-header {
    padding-bottom: 10%;

    .modal-column {
      position: absolute;
      left: 0%;
    }

    .modal-info {
      position: absolute;
      right: 4%;
      text-align: right;
      color: #043e4f;
      text-transform: capitalize;
    }
  }

  .modal-body {

    .modal-image-container {
      position: relative;

      .chevron-right {
        height: 100%;
        width: 15%;
        position: absolute;
        right: 0px;
        color: darkgray;
        &:hover {
          color: white;
          opacity: .9;
          transition: all .2s ease-in-out;
        }
        &:focus {
          outline: none;
        }
      }

      .chevron-left {
        height: 100%;
        width: 15%;
        position: absolute;
        left: 0px;
        color: darkgray;
        &:hover {
          color: white;
          opacity: .9;
          transition: all .2s ease-in-out;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .modal-select {
      padding-top: 5px;
      color: #065f65;
      text-align: center;
    }

  }

 
